@use "../../scss/" as *;
.navbar {
  transition: height 0.3s ease, background-color 0.3s ease;
  height: 8rem;
  &.shrink {
    background-color: $body-bg;
    height: 5rem;
  }
  @media (max-width: 992px) {
    .collapsing,
    .collapse.show {
      background-color: $body-bg;
      border-radius: $border-radius;
      padding: 20px;
    }
  }
  .navbar-brand {
    font-size: 2.5rem;
    font-weight: 600;
    span:hover {
      color: #ff0000;
    }
    .logo {
      width: 50px;
      margin-right: 10px;
    }
  }

  .navbar-nav .nav-item {
    font-weight: 700 !important;
    font-size: 1.5rem;
    padding: 5px 0;
    position: relative;
    margin-right: 10px;

    & .nav-link::after {
      content: "";
      width: 0;
      background-color: #ff0000;
      height: 3px;
      position: absolute;
      left: 50%;
      bottom: 5px;
      transition: width 0.3s ease;
      transform: translateX(-50%);
    }
    &:hover ::after {
      width: 100%;
    }
    &:hover {
      color: #ff0000;
    }
    & .nav-link.active {
      color: white !important;
    }
    & .nav-link.active::after {
      width: 100% !important;
    }
  }
  .navbar-toggler {
    &:focus,
    &:active,
    .navbar-toggler-icon:focus {
      outline: none;
      box-shadow: none;
    }
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
    }
  }
}
